@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Zen+Old+Mincho:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: linear-gradient(180deg, #e6eaf5 0%, #f6f6f6 80%); */
    background: white;
}

body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMwLjUgMTZDMzAuNSAyNC4wMDgxIDI0LjAwODEgMzAuNSAxNiAzMC41QzcuOTkxODcgMzAuNSAxLjUgMjQuMDA4MSAxLjUgMTZDMS41IDcuOTkxODcgNy45OTE4NyAxLjUgMTYgMS41QzI0LjAwODEgMS41IDMwLjUgNy45OTE4NyAzMC41IDE2WiIgc3Ryb2tlPSJibGFjayIvPgo8cGF0aCBkPSJNNiA5QzcuNjU2ODUgOSA5IDcuNjU2ODUgOSA2QzkgNC4zNDMxNSA3LjY1Njg1IDMgNiAzQzQuMzQzMTUgMyAzIDQuMzQzMTUgMyA2QzMgNy42NTY4NSA0LjM0MzE1IDkgNiA5WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="),
        auto;
}


.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align items to the right */

    justify-content: flex-start;
    pointer-events: none;
}


.topRightContent {
    display: flex;
    justify-content: flex-end;
    margin: 90px 180px 0 0;

}

.date-container,
.memorial-container {
    display: flex;
    flex-direction: column;
}

.date-container {
    margin: 0 70px 0 0;
}

.header {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.content {
    margin: 12px 0 0 0;
    font-size: 24px;
}



.bottomRightContent {
    align-self: flex-end;
    /* Align to the bottom right */
    position: absolute;
    bottom: 0;
    /* Position at the bottom of the container */
    right: 0;
    /* Position at the right of the container */
}

@media screen and (max-width: 568px) {
    .full {
        visibility: hidden;
        display: none;
    }
}