body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    color: white;
    cursor: none;
}

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    z-index: 1000;
    mix-blend-mode: difference;
}

.title-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    padding-top: 50px;
    padding-left: 100px; /* Increase this value to add more space */
    z-index: 1;
}

.title-container h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.title-container a {
    color: white;
    text-decoration: none;
}

.title-container a:visited {
    color: white;
}

.title-container a:hover {
    text-decoration: underline;
}

.title-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 50px; /* Add this line to move the list items to the right */
}

.title-container li {
    font-size: 2em; /* Increase this value to make the font size bigger */
    margin-bottom: 10px;
}